@import "tailwindcss";
@plugin "daisyui";

/* custom css */
.theme-toggle-btn {
  padding: 6px 12px;
  border-radius: 999px;
  border: none;
  background-color: var(--button-bg);
  color: var(--button-text);
  cursor: pointer;
  font-size: 0.9rem;
}

.theme-toggle-btn:hover {
  opacity: 0.9;
}

/* animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 1.2s ease-out forwards;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(24px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.9s ease-out forwards;
}

/* smooth icon floating */
@keyframes icon-float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-4px);
  }
}

.icon-float {
  animation: icon-float 3s ease-in-out infinite;
}